/*************
  VARIABLES
 *************/

$color--black: #000;
$color--black-1: #1c1b1b;

$color--white: #fff;

$color--pink: #de3e8d;
$color--yellow: #e2e7a1;
$color--gray: #9b9b9b;

$color--primary: red;
$color--secondary: blue;

$fs--sm: 1.2rem;
$fs--md: 1.6rem;
$fs--lg: 2rem;
$fs--xl: 2.5rem;
$fs--2xl: 3.5rem;