/************************
  APP
 ************************/

#app {
  width: 100vw;
  min-height: 100vh;
  background-color: $color--black-1;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
}